@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@0,300;0,400;0,600;1,200;1,400&display=swap');

:root {
  --primary-color: #040521; 
  --secondary-color: #0000; 
  --text-color: white;
  --buttons-color: #f8c67d;
}

body {
  margin: 0;
  padding: 0;
}

/* Define una tipografía base */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 2rem;
}

/* Estilos para párrafos */
p {
  font-size: 1rem;
}
